 
body {
  height: 100%;
  background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
    min-height: 800px;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px; 
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.top{
    margin-bottom:5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.middle{
    margin-bottom:5px;
    border-radius:0;

}

.bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.res{
  background-color: grey;
  width: 100%;
  padding:7rem;
  margin-top: 0;
}